html {
    box-sizing: border-box;
    text-align:center;
    min-width: 315px;
    margin-left:auto;
    margin-right:auto;
}

body {
    background-color:white;
}

*:focus {
    outline: none;
}

#container {
    display: grid;
    grid-template-columns: minmax(320px, auto);
    grid-template-rows: 225px;
    height:100vh;
}

nav {
    width:100%;
    font-family: 'Peddana', serif;
    font-size: larger;
}


a {
    font-weight: bold;
    color:black;
    text-decoration: none;
    display:inline-block;
    
}

a:visited {
    color:black;
}

/* background circles */

#color1 {
    display:block;
    position:fixed;
    border-radius: 50%;
    width:4500px;
    height:4500px;
    background-color: #cf6e67;
    top:-250px;
    left:-250px;
    opacity: 0;
    z-index: -1;
    transition:opacity 200ms linear;
}

#color2 {
    display:block;
    position:fixed;
    border-radius: 50%;
    width:600px;
    height:600px;
    background-color: #cf6e67;
    top:-150px;
    left:-150px;
    transition:opacity 200ms linear;
    z-index: -3;
}


/* ----- FAVICON ----- */

#favicon {
    background-color: #c7d1d1;
    background-image: url('images/beige-paper.png');
    text-align: center;    
}

#faviconimg {
    position:  fixed;
    left:0;
    width:100%;
    z-index:5;
}

#favicontext {
    margin-top:125px;
}

#favicon img {
    width:100px;
    height:100px;
    padding:0.5em;
}

#favicon h2 {
    color:#424c4c;
    font-family: 'Anton', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    margin:0.25em;
}

#favicontext2 {
    display:none;
}


/* nav under cv icon */


#cvimg {
    transition:width 0.3s 50ms, height 0.3s 50ms;
}

#favicon .content {
    max-width:100%;
}

#navleft {
    display:inline-block;
    position:fixed;
    top:0;
    right:50%;
    padding-right:25px;
    text-align: right;
}

#navleft a:nth-of-type(1) {
    padding-right:20px;
}

#navright a:nth-of-type(1) {
    padding-right:10px;
}

#navright {
    display:inline-block;
    position:fixed;
    top:0;
    left:50%;
    padding-left:10px;
    text-align: left;
}

#navleft li,
#navright li {
    display:inline-block;
    list-style-type:none;
}

#navleft li:hover,
#navright li:hover {
    text-decoration: underline;
    text-decoration-color: black;
}



/* // now expand the nav on click/tap two left two right // */



/* ----- PROJECTS ----- */

#projects {
    width:100%;
    background-color: #bd6660;
    background-image: url('../images/beige-paper.png');
    max-width:1200px;
    margin-left: auto;
    margin-right:auto;
}

.projectpic img {
    width:200px;
}

#projects h2 {
    font-family: 'Commissioner', sans-serif;
    color:#c7d1d1;
    text-align: center;
}

#projects h4 {
    color:black;
    font-family: 'Peddana', serif;
    font-size: 2em;
}

.project img {
    width:90%;
    height:auto;
}

#projecttitle {
    display:none;
}

#projectnametablet {
    font-size:1.5em;
    margin:0;
    font-family:'PT Sans Narrow', sans-serif;
    color:#2e2e2e;
    font-weight: 100;
}

.project p,
.project a:visited {
    color:black;
}

#hammersvg {
    width:125px;
    height:125px;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease-in 0.1s;
    z-index:1;
}

#hammersvg:hover {
    transform:scale(1.05, 1.05) rotate(-20deg);
}

#projecticons {
    display:none;
}

#projects .content h3 {
    font-family: 'Syncopate', sans-serif;
    color:#424c4c;
}

#hammersvg a {
    width:125px;
    height:125px;
}

#hammersvg a:active #projectnametablet {
    display:block;
}

#projectnametablet .projectname {
    padding-top:5px;
    padding-bottom:10px;
    text-align: left;
}

#projectnametablet {
    display:block;
    padding-top:15px;
    padding-bottom:15px;
    /* border-top:4px solid #424c4c;
    border-bottom: 4px solid #424c4c; */
    margin-bottom:10px;
    margin-left:5px;
    margin-right:5px;
    text-align: center;
}


#projectnametablet h3 {
    font-size:1.4em;    
    margin:0;
    font-family:'PT Sans Narrow', sans-serif;
    color:#2e2e2e;
    font-weight: 100;
    text-align: left;
    padding-left: 10px;
    border-left:15px #424d4d solid;
    padding-bottom: 5px;
}

/* .projectpic a img {
    margin-bottom:10px;
    transition:box-shadow linear 100ms;
}

.projectpic a img:hover {
    box-shadow:0px 3px 5px 6px #ccc;
} */

.projectpic img {
    width:200px;
    margin-left:25px;
    border-left: 15px #424d4d solid;
    padding-left: 10px;
    margin-left: 0;
}


/* ----- ABOUT ----- */

#about {
    background-color:#d88983;
    background-image: url('../images/beige-paper.png');
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#about h2 {
    font-family: 'Syncopate', sans-serif;
    margin-top:0;
    color:#2f3737;
    text-align: center;
    padding-top:20px;
}

#about .content {
    text-align: center;
    padding-top:20px;
}
#abouttextmain p {
text-align: left;
}

#magnify {
    width:100px;
    transition: transform 0.3s ease-in 0.1s;
}

#aboutpic {
    padding-top:10px;
    position:relative;
}

#abouttextmain {
    padding-left:15px;
    padding-right:10px;
    color:black;
    font-size:1.3em;
    line-height: 1.5em;
    border:8px solid #c2c8c8;
    border-bottom: 0;
    margin-left:13px;
    margin-right:13px;
    padding-bottom:20px;
}

#abouttextmain p {
    margin-bottom: 0;
}

#magnify:hover {
    transform:scale(1.15, 1.15);
}


/* ----- INTRO ----- */

#intro {
    background-color: #424D4D;
}

#intro .content {
    margin-top:auto;
    margin-bottom:auto;
}

#introtext {
    text-align: center;
    padding-left:15px;
    padding-right:15px;
}

#intro p {
    color:white;
    font-family: 'Peddana', serif;
    font-size: 2.3em;
}


/* ----- CONTACT ----- */

#contact {
    background-color: #c7d1d1;
    background-image: url('../images/beige-paper.png');
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

#contacttext {
    text-align: center;
    padding-left:15px;
    padding-right:15px;
}

#contacttext p {
    color:#cf6e67;
    font-family: 'Commissioner', sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    font-weight: 600;
    margin:10px 0 15px 0;
}

#contactpic {
    width:130px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 10px;
    transition: transform 0.8s ease-out 0.1s;
}

#contactpic:hover {
    transform:rotate(40deg);
}

#contactimg {
    top:10px;
}

#contactsocial {
    text-align: center;  
}

.socialicons {
    display: inline-block;
    float: none;
    clear: none;
    width:75px;
    height:75px;
    text-align: center;
    border-top-right-radius: 10px;
    border-top-left-radius:10px;
}

.socialicons img {
    width:50px;
    height:50px;
    padding-top:10px;
}

.socialicons:hover {
    background-color: #bd6660;
}


/*----- FOOTER ----- */

footer {
    height:15px;
    background-color: #c7d1d1;
    color:white;
    text-align: left;
    padding: 5px 0;    
}

footer p {
    margin:0 10px 0 10px;
    border-radius: 5px;
    color:black;
    font-family: 'Commissioner', sans-serif;
    font-size: small;
}

/* ----- COLOR BOXES ----- */

#color1,
#color2,
#color3,
#color4 {
    display:none;
}

#hammersvghide {
    display:none;
}


/* ---------------------------------------------------------------------------------------- */
/* -------------------------------- MEDIA QUERIES ----------------------------------------- */
/* ---------------------------------------------------------------------------------------- */


/* -------------------------------- MEDIA QUERY 576px ------------------------------------- */

@media (min-width: 576px) {

    #container {
        gap: 10px;
    }

    #hammersvg {
        width:80px;
        height:80px;
    }

    #navleft li,
    #navright li {
        font-size: 1.3em;
        padding-left:25px;
        padding-right: 25px;

    }

    #projectnametablet {
        margin-top:30px;
    }

    #projectnametablet .projectname {
        height:140px;
        padding-top:0;
        padding-bottom: 0;
        margin-top:5px;

    }

    #projectnametablet .projectpic {
        height:140px;
    }

    #favicon h2 {
        color:#424c4c;
        font-family: 'Anton', sans-serif;
        font-size: 2em;
        font-weight: 300;
    }

    #favicontext {
        margin-top:120px;
    }

    #projects {
        display:flex;
        flex-direction: column;
        height:100%;
    }

    #projects .content {
        flex-basis:40%;
        margin-top:10px;
    }

    #projectnametablet {
        border:0;
        display:flex;
        flex-wrap: wrap;
        padding-left: 20px;
    }

    #projectnametablet h3 {
        border-left:0;
    }

    .projectname {
        flex-basis: 50%;
        border-left: 25px solid #424c4c;
    }

    .projectpic {
        flex-basis: 45%;
    }

    #introtext p {
        font-size:2em;
    }

    #contact {
        display:flex;
        flex-direction: row;
    }

    #contact .content {
        flex-basis: 40%;
    }

    #contact {
        padding-top:10px;
    }

    #contactpic {
        text-align: center;
        padding-top:20px;
        margin-bottom:0;
    }

    #contactpic img {
        width:80px;
        height:80px;
    }

    #contacttext p {
        font-size:1.5em;
        margin-bottom:5px;
        margin-top:0;
    }

    #contactsocial {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left:10px;
        padding-right: 10px; 
        flex-basis: 60%;
        width:90%;
        margin:0;
        border-radius: 0;
    }

    .socialicons {
        height:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left:5px;
        padding-right:5px;
    }

    .socialicons img {
        width:50px;
        height:50px;    
    }

    #projects h2 {
        margin-top:10px;
    }

    #hammersvg {
        width:100px;
        height:100px;   
    }

    .projectpic img {
        border-right:20px #424c4c solid;
        border-left: 0;
        padding-right:10px;
    }

    #projectnametablet h3 {
        font-size:1.5em;
    }


}  
/* end of 576 media query */

/* -------------------------------------- MEDIA QUERY 768PX+ --------------------------------------*/


@media (min-width: 768px) {

    #container {
        display: block;
        height:100%;
    }

    footer {
        margin-top:10px;
    }

    #projectnametablet {
        display:none;
    }

    #favicon {background-color:#c7d1d1; background-image: none;}
    #projects {background-color: #bd6660;}

    #favicontext {
        display:none;
    }

    #favicontext2 {
        display:block;
        font-size: 1.5em;
        /* margin-top:200px; */
        padding-top:125px;
        padding-bottom:25px;
    }
    
    #color3 {
        display: block;
    }

    #navleft ul li a:hover,
    #navright ul li a:hover {
    text-decoration: underline;
}

    #intro {
    background-color: #c7d1d1;
    margin-top:-30px;
    margin-bottom:40px;
    }

    #introtext p {
        color:#424d4d;
    }

    #intro {
        margin-bottom:0;
    }

    #projects .content {
        display:none;
    }

    .projectpic a {
        display:inline-block;
    }

    .projectpic a img {
        border-right: 0;
    }

    #color1 {
        background-color: #c7d1d1;
        background-image: url('../images/beige-paper.png');
    }
    #color2 {
        background-color: #bd6660;
        background-image: url('../images/beige-paper.png');
    }
    #color3 {
        background-color:#3a6464;
        background-image: url('../images/beige-paper.png');
    }
    #color4 {
        background-color:white;
        background-image: url('../images/beige-paper.png');
    }

#introtext {
    padding:0;
    padding-bottom:10px;
}

#introtext p {
    margin: 0;
    font-size: 2em;
}

#projects {
    height:100%;
    position:relative;
    padding-bottom: 10px;
}

#projects::after {
    content: "";
    background: url('../images/hammer.svg');
    background-repeat: no-repeat;
    opacity: 0.15;
    top: 20%;
    left: 10%;
    bottom: 0;
    right: 0;
    position: absolute;
  }

#projecticons {
    display:flex;
    flex-direction: column;
    width:100%;
}

.projecteg {
    height:190px;
    display: flex;
    flex-direction: row;
    transition: background-color 200ms linear;
    margin-top:20px;
}

.projecttextlarge,
.projectpic {
flex-basis: 45%;
height:100%;
}

.projectpic {
    text-align: center;
    border-right:25px #424c4c solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-left: 30px;
}

.projectpic img {
    width:275px;
    border-left:0;
    padding-left:20px;
}

.projectname {
    font-size: 1em;
    border-left:25px #424d4d solid;
    margin-left:20px;
    border-top-left-radius: 15px;
    padding-top: 20px;
    height:75px;
}

.projecttext {
    flex-basis: 38%;
    margin:auto 0;
    text-align: left;
    border-left:25px #424d4d solid;
    margin-left:20px;
    margin-right:20px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height:50%;
}

.projecttext p {
    font-size: 1.3em;
    margin:auto;
    padding-left: 80px;
    width:90%;
    padding-top:30px;
    font-family: 'Commissioner', sans-serif;
    font-weight: 200;
}

.projectname h3 {
    width:100%;
    font-family:'PT Sans Narrow', sans-serif;
    margin:0 25px 0 0;
    height:100%;
    font-size: 2.5em;
    text-align: left;
    padding-left:20px;
}

#projecttitle {
    display:block;
    text-align: center;
    font-family: 'Commissioner', sans-serif;
    font-size:2em;
    background-color: #ededed;
    margin-top:10px;
}

#projecttitle h3 {
    margin-top:0;
    margin-bottom:10px;
}

#hammersvghidetext h2 {
    writing-mode: vertical-rl;
    font-size: 2em; 
    margin:0;
    width:fit-content;
    padding-left: 5%;
    padding-top:10%;
    }

#contact {
    height:160px;
    margin-top:10px;
    align-items: center;
}


#contact .content {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

#contactpic {
    margin:0;
    text-align:center;
    width:100%;    
}

#contact p {
    margin-bottom:0;
    margin-top:3px;
}

#contactpic img {
    width:90px;
    height:90px;
}

#contacttext {
    padding:0;
    font-size: 0.75em;
}

#contactsocial {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right:20px;
    flex-basis: 68%;
    height:100%;
    width:90%;
    margin:0;
}

.socialicons {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bd6660;
    width:100px;
    height:100%;
    transition: background-color 200ms linear;
}

.socialicons:hover {
    background-color: #c3cbcb;
}

.socialicons img {
    display:block;
}

/* --- ABOUT --- */

#about {
    display: flex;
    flex-direction: row ;
    margin-top:10px;
}

#aboutpic {
    height:50%;

}

#about .content {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
    justify-content: center;
}

#aboutpic img {
    height:120px;
    width:120px;
}

#abouttextmain {
    flex-basis: 50%;
    padding:10px 25px;
     margin:0;
    background-color: #424D4D;
    border:0;
}

#abouttextmain p {
    font-size:1em;
    text-align: left;
    color:#ededed;
    margin:auto;
}

#about h2 {
    font-size: 1.25em;
}

} /* } end of 768px media query */

/* -------------------------------------- MEDIA QUERY 992PX+ --------------------------------------*/

@media (min-width: 992px) {

#favicon {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.projecteg {
    padding-left: 50px;
    padding-right:50px;
}


.projecttext p {
    font-size:1.7em;
}


#color1 {
    display:block;
    position:fixed;
    border-radius: 50%;
    width:4500px;
    height:4500px;
    background-color: #cf6e67;
    top:-250px;
    left:-250px;
    opacity: 0.4;
    z-index: -1;
}

#color2 {
    display:block;
    position:fixed;
    border-radius: 50%;
    width:600px;
    height:600px;
    background-color: #cf6e67;
    top:-150px;
    left:-150px;
    opacity: 0.4;
    z-index: -3;
}

#color3 {
    display:block;
    position:fixed;
    border-radius: 50%;
    width:400px;
    height:400px;
    top:200px;
    right:-150px;
    opacity: 0.3;
    z-index: -5;
}

#color4 {
    display:block;
    position:fixed;
    border-radius: 50%;
    width:300px;
    height:300px;
    top:500px;
    right:-50px;
    opacity: 0.6;
    z-index: -4;
}

#abouttextmain p {
    font-size:1em;
}

#abouttextmain p {
    margin-top: 25px;
}

} /* end of 992px media query*/

@media (min-width:1200px) {
    #projects {
        border-top-left-radius:15px;
        border-top-right-radius: 15px;
    }

    #contact {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}